############################
# npm
############################
node_modules
npm-debug.log


############################
# tmp, editor & OS files
############################
.tmp
*.swo
*.swp
*.swn
*.swm
.DS_STORE
*#
*~
.idea
nbproject


############################
# Tests
############################
testApp
testApp2
coverage
sailor-module-test

############################
# Other
############################
.node_history
